body .navbar-toggler {
    background-color: white;
}
.footer-container,
.nav-container {
    background-color: var(--dark-color);
}
.footer-container .text,
.footer-container .text a {
    color: var(--white-color);
}
.footer-container .text a:hover {
    color: black;
}
.nav-container .nav-link {
    color: var(--white-color);
}

.nav-container .nav-link:hover {
    color: black;
}

/*.nav-container .navbar-nav .nav-link.active {*/
/*    !*color: var(--carob-color);*!*/
/*}*/
