.register-container,
.login-container {
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid var(--gray-color);
}
.input-error{
    border: 1px solid red;
}

.register-container h1,
.login-container h1 {
    color: black;
    font-size: 2.3em;
    font-weight: bold;
    cursor: pointer;
}

.register-container .ant-select .ant-select-selector,
.register-container .ant-input-password,
.register-container input,
.login-container .ant-select .ant-select-selector,
.login-container .ant-input-password,
.login-container input {
    border-radius: 5px;
    background-color: var(--gray-color)
}
.register-container .login-link,
.login-container .register-link {
    color: var(--blue-color);
}

.register-container .login-link:hover,
.login-container .register-link:hover {
    color: black;
}

.users-container .login-btn,
.register-container .register-btn,
.login-container .login-btn {
    background-color: var(--blue-color);
    color: var(--white-color);
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.users-container .login-btn:hover,
.register-container .register-btn:hover,
.login-container .login-btn:hover {
    color: var(--white-color);
    background-color: var(--blue2-color);
}

.login .ant-col,
.register .ant-col {
    display: flex;
    justify-content: start;
    width: 100%;
}
.login .ant-picker {
    width: 100%;
}
