@import url('./components/Login/Login.css');
@import url('./components/Navbar/HorizontalNavbar.css');
@import url('./components/Users/User.css');
@import url('./components/Events/Events.css');
@import url('./components/Invitations/Invitations.css');

:root {
    --dark-color: #8B735B;
    --lighter-color: #917c69;
    --gray-color: #F2F2F2;
    --gray2-color: #D2D2D2;
    --white-color: #ffffff;
    --blue-color: #000080;
    --blue2-color: #4a4aa6
}

.error {
    color: red;
}

.welcome-background {
    background-image: url('../src/assets/homeImg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.welcome-background h1 {
    color: var(--white-color);
    cursor: pointer;
}

.welcome-background .welcome-description {
    color: var(--white-color);
    font-size: 1.5rem;
}

.welcome-background .login-btn {
    font-weight: bold;
    color: var(--white-color);
    background-color: var(--dark-color);

}

.welcome-background .login-btn:hover {
    color: var(--gray-color);
    background-color: var(--lighter-color);
}

.custom-upload button{
 border: 0;
background: none;
}
.ant-picker,
.ant-select{
    width: 100%;
}



.form-container .ant-modal-header .ant-modal-title {
    color: var(--blue-color);
    font-size: 1.5em;
}
.form-container .event-btn {
    background-color: var(--blue-color);
    color: var(--white-color);
}

.form-container .event-btn:hover {
    background-color: var(--blue2-color);
    color: var(--white-color);
}

.form-container .load-btn {
    border: 2px solid var(--blue-color);
    color: var(--blue-color);
}

.form-container .load-btn:hover {
    border: 2px solid var(--blue2-color);
    color: var(--blue2-color);
}

.form-container .search-container .ant-btn,
.form-container .search-container .ant-input-affix-wrapper {
    background-color: var(--gray-color);
}
.form-container .accept-icon:hover{
    color: green;
}
.form-container .accepted-icon {
    color: red;
}

.form-container .custom_button {
    background-color: var(--blue-color);
    color: var(--white-color);
}

.form-container .custom_button:hover {
    background-color: var(--blue2-color);
    color: var(--white-color);
}

.third-step .ant-list-items{
   max-height: 40vh;
    overflow: auto;
}

.my-profile .avatarImg{
    height: 25vh;
    width: 25vh;
}
body .personal_info{
    pointer-events: none;
}